body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}


nav>ul{
    width:100%;
    border:1px solid grey;
    text-align: center;
    padding:1%;
    margin-top:0;
    position: fixed;
    z-index:1;
    background-color:#42a5f5;
    
}

nav ul *{
   
    display: inline;
    padding:0.5%;
    text-decoration: none;
    
}
nav li>a{
    color:white;
    font-size:14px;
}
nav li>a:hover{
    background-color: red;
    color:white;
    font-weight: bold;
    border:1px solid #42a5f5;
   
}